<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>

  <!-- load world -->
  <include file="$(find gazebo_worlds)/launch/empty_world_throttled.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find uos_gazebo_worlds)/worlds/avz_collada.world" respawn="false" output="screen"/> 

  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>
</launch>
