<?xml version="1.0"?>
<launch>
  <include file="$(find calvin_description)/launch/upload_calvin.launch"/>

  <!-- start gazebo with the avz world -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find uos_gazebo_worlds)/worlds/avz_collada.world" respawn="false" output="screen"/> 
  <include file="$(find calvin_gazebo)/launch/robot.launch"/>
</launch>
