<?xml version="1.0"?>
<launch>
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_calvin_model" pkg="gazebo" type="spawn_model" 
    args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model calvin" respawn="false" output="screen"/>
</launch>
