<?xml version="1.0"?>
<launch>
  <arg name="mapmetafile"/>

  <include file="$(find calvin_bringup)/launch/calvin.launch" />

  <include file="$(find calvin_bringup)/launch/calvin_extras.launch">
    <arg name="mapmetafile" value="$(find calvin_2dnav)/maps/avz3floor_pg2elevator_v3.yaml"/>
  </include>
</launch>
