<?xml version="1.0"?>
<launch>
  <!-- build calvin urdf with xacro and push it on the ros parameter server -->
  <include file="$(find calvin_description)/launch/upload_calvin.launch" />

  <node name="volksbot" pkg="volksbot_driver" type="volksbot" respawn="false" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="calvin_joint_commander" pkg="calvin_joint_commander" type="joint_commander">
    <param name="publish_joint_states" type="bool" value="True" />
    <param name="kinect_pitch_joint" type="double" value="0.89" />
    <!--<remap from="joint_states" to="calvin_joint_states" />-->
  </node>

  <node name="sick_tim3xx" pkg="sick_tim3xx" type="sick_tim3xx" respawn="false" output="screen"/>

  <node pkg="usb_cam" type="usb_cam_node" name="vgacam">
    <param name="video_device" value="/dev/video1"/>
    <param name="camera_frame_id" value="webcam_link"/>
    <rosparam param="K">[677.947151, 0.0, 288.08553, 0.0, 680.275811, 220.536595, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="D">[-0.448484, 0.259929, 0.008353, 0.003273, 0.0]</rosparam>
    <rosparam param="P">[605.421509, 0.0, 282.642067, 0.0, 0.0, 639.667725, 220.342754, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>
  </node>

  <include file="$(find phidgets_imu)/launch/imu.launch" />
  <node pkg="tf" type="static_transform_publisher" name="$(anon static_transform_publisher)" args="0 0 0 0 1 0 0 /base_link /imu 10" />

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="kinect" />
    <arg name="publish_tf" value="true" />
    <arg name="depth_registration" value="true" />
  </include>

  <param name="katana_type" type="string" value="katana_450_6m90a" />

  <!-- which joints does this katana instance control? -->
  <rosparam command="load" file="$(find katana)/config/katana_arm_controllers.yaml" />

  <!-- katana node -->
  <node pkg="katana" type="katana" name="katana" output="screen">
    <param name="config_file_path" type="string" value="$(find kni)/KNI_4.3.0/configfiles450/katana6M90A_G.cfg" />
    <!-- <param name="simulation" type="bool" value="true" /> -->

    <!-- let the katana node publish on katana_joint_states -->
    <!--<remap from="joint_states" to="katana_joint_states" />-->
    <!-- for katana_gripper_grasp_controller -->
    <remap from="posture_action_name" to="/gripper_grasp_posture_controller" />
    <remap from="grasp_query_name" to="/gripper_grasp_status" />
  </node>

</launch>
