<?xml version="1.0"?>
<launch>
  <node name="calvin_joint_commander" pkg="calvin_joint_commander" type="joint_commander" output="screen">
    <param name="publish_joint_states" type="bool" value="True" />
    <param name="kinect_pitch_joint" type="double" value="0.89" />
    <param name="webcam_pitch_joint" type="double" value="0.39" />
    <!--<remap from="joint_states" to="calvin_joint_states" />-->
  </node>
</launch>
