<?xml version="1.0"?>
<launch>

  <arg name="use_phidgets_imu" default="false" />
  <group if="$(arg use_phidgets_imu)">
    <include file="$(find calvin_description)/launch/imu.launch" />

    #TODO: include /imu link in the URDF instead
    <node pkg="tf" type="static_transform_publisher" name="$(anon static_transform_publisher)"
      args="0 0 0 0 1 0 0 /base_link /imu 10" />
  </group>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <param name="freq" value="100.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <remap if="$(arg use_phidgets_imu)" from="imu_data" to="imu/data"/>
  </node>
</launch>
