<?xml version="1.0"?>
<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="kinect" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="true" />
    <arg name="rgb_camera_info_url" value="file://$(find calvin_bringup)/config/rgb.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find calvin_bringup)/config/depth.yaml" />
 </include>
</launch>
