<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="base_link">
    <material value="PR2/Grey"/>
  </gazebo>

  <gazebo reference="structure">
    <material value="PR2/Grey"/>
  </gazebo>

  <gazebo reference="pole">
    <material value="PR2/Grey"/>
  </gazebo>

</robot>
