<?xml version="1.0"?>
<launch>
    <!-- Start Robot State Publisher (calculates joint frame transforms) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Start Joint State Publisher with joint control GUI -->
    <param name="use_gui" value="true" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

    <!-- Start Rviz visualization tool using saved config file -->
    <node pkg="rviz" type="rviz" name='rviz_warehouse_viewer' args="-d $(find calvin_arm_navigation)/config/planning_scene_warehouse_viewer.vcg" />

    <include file="$(find planning_environment)/launch/environment_server.launch">
        <arg name="use_monitor" value="true" />
        <arg name="use_collision_map" value="false" />
    </include>

    <include file="$(find calvin_arm_navigation)/launch/constraint_aware_kinematics.launch" />
</launch> 

