<launch>
    <arg name="log_to_warehouse" default="false"/>
    <node pkg="move_arm" type="move_arm_simple_action" name="calvin_move_arm">
        <param name="group" type="string" value="arm" />
        <remap from="arm_ik" to="calvin_arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="katana_arm_controller/follow_joint_trajectory" />
        <param name="log_to_warehouse" value="$(arg log_to_warehouse)"/>
    </node>
</launch>
