<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="calvin">

  <include filename="$(find calvin_description)/bases/calvin_base.urdf.xacro" />
  <include filename="$(find calvin_description)/tops/muffin_top.urdf.xacro" />

  <include filename="$(find calvin_description)/urdf/gazebo.urdf.xacro" />

  <include filename="$(find sick_tim3xx)/urdf/sick_tim3xx.urdf.xacro" />
  <xacro:sick_tim3xx laser_link="laser" />

  <joint name="laser_mount_joint" type="fixed">
    <origin xyz="0.25 0 0.08" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="laser_mount_link" />
  </joint>
</robot>
