<?xml version="1.0"?>
<launch>
  <!-- build calvin urdf with xacro and push it on the ros parameter server -->
  <include file="$(find calvin_description)/launch/upload_calvin.launch" />
  <include file="$(find sick_tim3xx)/launch/sick_tim3xx.launch" />
  <include file="$(find volksbot_driver)/launch/volksbot.launch" />
</launch>
